.popup_create_sensor{
	font-size: 14px;
	font-family: '微軟正黑體','Tahoma';
	min-width: 200px;
	margin: 20px auto;
	text-align: center;
}
.sensor_list{
	margin: 10px 4px 10px 0;
	padding: 7px;
}
#sensor_list{
	height: 39px;
}

.btn_create_sensor{	
	width: 100px;
}
